.main {
  max-height: 100vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.actionContainer {
  height: 10vh;
  justify-content: center;
  display: flex;
  align-items: center;
}

.btnTabContainer {
  display: flex;
  margin-top: auto;
  height: 50px;
}

.btnTab {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnAction {
  margin: 10px;
}

.btnAction:active,
.btnAction:focus {
  color: inherit;
  border-color: #d9d9d9;
}

.spinner {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}
